
{% extends "v-0.9.0/base/base.html"%}
{% load static %}


{% block css %}

{% endblock %}

{% block loginContent %}





 <section id="wrapper" class="login-register login-sidebar">
        <div class="logo-box">
          <img src= {% static 'assets/images/main-logo.png' %}  alt="logo" />
        </div>
        <div class="login-box">
            <div class="login-body">
                <h1>Recruiter</h1>
                <h2>Welcome back</h2>
                <p class="text-muted">Kindly, use your email and password to sign in.</p>
                <form class="form-horizontal" id="loginform" method="post">
                {% csrf_token %}
                    <div class="form-group m-t-40">
                        <label>Email</label>    
                        <div class="icon-icon-input">
                            <input class="form-control" type="text" name="username" required="" placeholder="Enter email address">
                            <i class="isax isax-sms"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <div class="icon-icon-input">
                            <input class="form-control" name="password" type="password" required="" placeholder="Password">
                            <i class="isax isax-eye"></i>
                        </div>
                    </div>
                    <div class="form-group text-center mt-5">
                        <div class="col-xs-12">
                            <!-- <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Log In</button> -->
                            <button  class="btn btn-primary btn-block waves-effect waves-light" type="submit">
                                <span>Login</span>
                                <i class="isax isax-login ml-2"></i>
                            </button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </section>
{% endblock %}


{% comment %} <html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bootstrap 5 - Login Form</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" />
</head>

<body class="main-bg">
  <!-- Login Form -->
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card shadow">
          <div class="card-title text-center border-bottom">
            <h2 class="p-3">Login</h2>
          </div>
          <div class="card-body">
            <form  method="post" >
            {% csrf_token %}
              <div class="mb-4">
                <label for="username"  name="username" class="form-label">Username/Email</label>
                <input type="text"  name="username" class="form-control" id="username" />
              </div>
              <div class="mb-4">
                <label for="password" class="form-label">Password</label>
                <input type="password"   name="password" class="form-control" id="password" />
              </div>
             
              <div class="d-grid">
                <button type="submit" class="btn btn-outline-dark">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html> {% endcomment %}

{% comment %} <h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>
</form> {% endcomment %}
 
