<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Recruiter App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    {% if request.user.is_authenticated %}

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'v-0.9.0/assignment'%}"
            >Assignments</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'v-0.9.0/home'%}"
            >Candidates</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'v-0.9.0/company'%}"
            >Companies</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'v-0.9.0/project'%}"
            >Projects</a
          >
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Click For More
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="{% url 'v-0.9.0/position'%}">Positions</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'v-0.9.0/keyword'%}">Keywords</a>
            </li>
          </ul>
        </li>

       
      </ul>

      <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">
        <button class="btn btn-outline-dark">Logout</button>
      </a>
    </div>
    {% endif %}
  </div>
</nav>




{% comment %} <script type="text/javascript">
  $(window).on("load", function () {
    $("#exampleModal").modal("show");
  });
</script> {% endcomment %}

