{% extends "v-0.9.3/base/base.html"%} {% load static %} {% block head %}
{% endblock %} {% block content %}
<div class="page-wrapper">
  <div class="container-fluid">
    <div class="pagetitle mb-3 align-items-center justify-content-between">
      <h3 class="mb-0">Skill Level</h3>
      <button type="button" class="btn btn btn-outline-success btn-sm" data-toggle="modal" data-target="#exampleModalCenter">
        Add Skill Level
    </button>
    </div>
    
    <script type="text/javascript" charset="utf-8">
      var url = " {% url 'v-0.9.3/skill-level-listCreateAPI-View' %}";
      var destroyUrl = " {% url 'v-0.9.3/skill-level-destroy' pk='123456' %}";
      var name = "Skill Level"
      {% include "v-0.9.3/frontend/webix.html"  %}
    </script>
    <div id="webix_datatable"></div>
  </div>
</div>
{% include "v-0.9.3/frontend/model.html" %} 
{% endblock %}
