{% extends "v-0.9.3/base/base.html"%} 
{% load static %} 
{% block css %} 
{% endblock %} 
{% load crispy_forms_tags %} 
{% block content %}
<div class="page-wrapper">
  <div id="toast">
    <div id="img">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
  </svg>
    </div>
    <div id="desc">Data save successfully</div>
  </div>
  <!-- Container fluid  -->
  <div class="container-fluid">
    <!-- Start Page Content -->
       
    <div class="pagetitle mb-3 align-items-center justify-content-between" ></div>
    <div class="row">
      <div class="col-12">
        <div class="listview-with-details">
          <div class="candidatedetails-rightside candidat-main-wrapper">
            <div class="detailsheader">

              <div class="pagetitle mb-3 align-items-center justify-content-between">
                <h3 class="mb-0">
                  <i class="bi bi-arrow-left-circle-fill" onClick="viewBack()">
                  <span></span>
                  </i>
                </h3> 
              </div> 

              <div class="candidate-header-action" onclick="createTemplate()">
                <a class="editcandidate"
                  ><i class="isax isax-save-2"></i>
                  <span>Save</span>
                </a>
              </div>
              
            </div>
            <form method="" id="myForm" action="" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="candidate-descriptions">
                <div class="row">
                  <div class="col-sm-6 left-side">
                   <div class=" d-flex align-items-baseline">
                    <h5 class="mb-2">Candidate Resume</h5>
                    <a  id="note" class="mx-2" style="color:red;"  href="#" data-content="To copy text select that text with mouse right click then paste into editor(ctrl+v). Ctrl+c shortcuts are not working in pdf preview to copy text from pdf preview." rel="popover" data-placement="bottom"  data-trigger="hover">(Note)</a>
                    </div>
                    <div id="resume">
                       <iframe
                        src="http://docs.google.com/gview?url=https://recruterstorageacc.blob.core.windows.net/resumes/{{resume}} &amp;embedded=true"
                        frameborder="0"
                        webkitallowfullscreen=""
                        mozallowfullscreen=""
                        allowfullscreen=""
                        style="width: 100%; height: 100%"
                      >
                      </iframe> 
                    </div>
                  </div>
                  <div class="col-sm-6 right-side">
                    <h5 class="mb-2">Template</h5>

                    <div id="test" class="col-md-12 mt-2 view-form-font pl-0">
                      <form
                        method="post"
                        id="myForm"
                        action=""
                        enctype="multipart/form-data"
                      >
                        {% csrf_token %} {{ form.media }} 
                        <div class = "resize" >
                          {{ form.template }}
                        </div>
                        
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  
</script>
{% endblock %} {% block script %}


<script>
  $(document).ready(function () {
    $('#note').popover();
    
    try {
      async function test(i) 
      {
        await new Promise(resolve => setTimeout(resolve, i));
        node = document.getElementsByClassName('resize')
        node[0].lastElementChild.setAttribute("style","height:calc(100vh - 300px)");
        
      }
      for (let i = 1; i < 300; i++) {
        test(i*100)
      }
    } catch (error) {
      console.error("error",error);
      test(1000)
   
    }   
  }); 
        function redirect(){
          Url1 = "{% url 'v-0.9.3/candidate'  %}";
          Url2 = `?archive=True` 
          Redirect = Url1+Url2
          console.log("Redirect",Redirect)
         window.location.href = Redirect;
        }

        function createTemplate() 
        {
          var Url = "{% url 'v-0.9.3/create-custome-resume-api-view' %}";
          var crf_token = $('[name="csrfmiddlewaretoken"]').attr("value");
          var id = `{{id}}`
          var filename = `{{resume}}`
          filename =filename.replace("files/","")
          filename = 'files/'+id+'_'+filename
          var myContent = tinymce.activeEditor.getContent();
         
          console.log("myContent",myContent);
          data = {
            "html":myContent,
            "id":id,
            "filename":filename
          }
          console.log("data",data)
          
          $.ajax({
            method: "POST",
            url: Url,
            data: data,
            headers: { "X-CSRFToken": crf_token },
          })
            .done(function (msg) {
              launch_toast()
              console.log("msg", msg);
              redirect()
            })
            .fail(function (error) {
              console.log("error", error.responseJSON);
            });
        }
        

        {% comment %} $('#popover1').dxPopover({
          target: '#link1',
          showEvent: 'mouseenter',
          hideEvent: 'mouseleave',
          position: 'top',
          width: 300,
        }); {% endcomment %}
    function viewBack() {
    var Redirect = "{% url 'v-0.9.3/view-candidate' id  %}";
    window.location.href = Redirect;
    }
  
</script>
{% endblock %}
