webix.ready(function () {
        gridA = webix.ui({
          id: "",
          container: "webix_datatable",
          select: "row",
          view: "datatable",
          columns: [
            {
              id: "name",
              header: {
                text: name,
              },
              sort: "string",
              width: 200,
              hidden: 0,
            },
            { id:"trash", header:"Delete", template:"{common.trashIcon()}"}  
          ],
          onClick:{
            "wxi-trash":function(event, id, node){
              {% comment %} console.log("dddd", this.remove(id)) {% endcomment %}
              webix.modalbox({
                title:"Warning",
                buttons:["Yes", "No"],
                width:300,
                text:"Are you sure?"
              }).then(function(result){
                    var type = ""
                    if(result == 0){ 
                      console.log("SFKhj",id )
                      destroyUrl = destroyUrl.replace("123456", id);
                      var crf_token = $('[name="csrfmiddlewaretoken"]').attr("value");
                      webix.ajax().headers({"X-CSRFToken": crf_token}).del(destroyUrl,{}).then(function(data){  
                        type = "success"
                        webix.message({ text: "Deleted sccessfully ", type:type, expire:0});
                      }); 
                    }
                    else if(result==1) 
                      return;
              });
              
            }
          },
          minHeight: 800,

          on: {
            onBeforeLoad: function () {
              this.showOverlay(`<div class="webix_loader"></div><br><span class="load_text">Loading Data...</span>`);
            },
            onAfterLoad: function () {
              this.sort("name", "asc");
              this.markSorting("name", "asc");
              if (!this.count()) this.showOverlay("Sorry, there is no data");
              else this.hideOverlay();
            },
          },
          url: function () {
            return webix.promise(function (res) {
              setTimeout(function () {
                res(webix.ajax(url));
              }, 1000);
            });
          },
        });
}); 

