{% extends "accounts/base.html"%} {% load static %} {% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{%static '/accounts/css/login.css' %}"
/>
{% endblock %} {% block content %}
<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Registration Form</h2>
    </div>
    <div class="row clearfix">
      <div class="">
        <form method="POST" action="">
          {% csrf_token %}
          <div class="input_field">
            <span><i aria-hidden="true" class="fa fa-envelope"></i>Username:</span>
            <input
              type="test"
              class="form-control"
              name="username"
              placeholder="username"
              required
            />
          </div>
          <div class="input_field">
            <span><i aria-hidden="true" class="fa fa-envelope"></i>Email:</span>
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Email"
              required
            />
          </div>
          <div class="input_field">
            <span><i aria-hidden="true" class="fa fa-lock"></i></span>
            <input
              type="password"
              class="form-control"
              name="password1"
              placeholder="Password"
              required
            />
          </div>
          <div class="input_field">
            <span><i aria-hidden="true" class="fa fa-lock"></i></span>
            <input
              type="password"
              class="form-control"
              name="password2"
              placeholder="Re-type Password"
              required
            />
          </div>
          <div class="row clearfix">
            <div class="col_half">
              <div class="input_field">
                <span><i aria-hidden="true" class="fa fa-user"></i></span>
                <input
                  type="text"
                  class="form-control"
                  name="fname"
                  placeholder="First Name"
                />
              </div>
            </div>
            <div class="col_half">
              <div class="input_field">
                <span><i aria-hidden="true" class="fa fa-user"></i></span>
                <input
                  type="text"
                  class="form-control"
                  name="lname"
                  placeholder="Last Name"
                  required
                />
              </div>
            </div>
          </div>

          <input class="button" type="submit" value="Register" />
        </form>
        <div>
          have a account <a href="{% url 'register' %}" class="ml-2">Sign In</a>
        </div>
        <div>
          {% for massage in messages %}
          <h3>{{massage}}</h3>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
