{% extends "base/base.html"%} {% load static %} {% block css %} {% endblock %}
{% block content %}



<div class="page-wrapper">
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="pagetitle mb-3 align-items-center justify-content-between">
                    <h3 class="mb-0">Candidates</h3>
                    <a href="javascript:void(0)" class="btn btn-primary btn-sm waves-effect">
                        Add New</a>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="listview-with-details">
                            <div class="candidatelist-leftside">
                                <div class="listheader">
                                    <form class="app-search">
                                        <div class="serchboxs">
                                            <i class="ti-search"></i>
                                            <input type="text" class="form-control" id="searchcandidate" placeholder="Search Candidate">
                                            <a id="filterBtn" title="Filter Search" data-toggle="modal" data-target="#openFilter" class="filterbtn">
                                                <i class="isax isax-filter"></i>
                                            </a>
                                            <div class="dropdownmenu">
                                           
                                             <ul class="nav nav-column">
                                             {% for search in powerSearch %}
                                                <li value={{search.query}} onclick='newwin(this.value)' > {{search.name|title}}</li>
                                                
                                            {% endfor %} 
                                             </ul>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="candidates-list"   id="candidates-list" >
                                    <ul>
                                     {% for condidate in candidates %}
                                        <li>
                                            <a>
                                                <div class="candidate-info"  onclick='getCandidate({{condidate.candidate_id}})' >
                                                    <h4>
                                                    {% if condidate.first_name %}
                                                        {{condidate.first_name}}
                                                    {% endif %}
                                                    {% if condidate.last_name %}
                                                        {{condidate.last_name}}
                                                    {% endif %}
                                                    <p id="demo"></p>
                                                    </h4>
                                                    <p class="mb-0"> 
                                                        <i class="isax isax-setting"></i>
                                                        <span>
                                                        {% if condidate.skill_keywords_full %}
                                                            {{condidate.skill_keywords_full}}
                                                        {% endif %}
                                                        </span>
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                    {% endfor %}
                                        <li class="active">
                                            <a>
                                                <div class="candidate-info">
                                                    <h4>Virat Kohli </h4>
                                                    <p class="mb-0"> 
                                                        <i class="isax isax-setting"></i>
                                                        <span>Mechanical Engineer</span>
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="candidatedetails-rightside">
                                <div class="detailsheader">
                                    <div class="candidate-info">
                                        <h4 id="candidate-name" >Virat Kohli</h4>
                                        <div class="d-flex">
                                            <p class="mb-0">  <i class="isax isax-setting"></i> <span id="skills" > Mechanical Engineer </span></p>
                                            <p class="mb-0"> <i class="fa fa-map-marker-alt"></i> <span id="city" >New York City</span></p>
                                        </div>
                                    </div>
                                    <div class="candidate-header-action">
                                        <a class="editcandidate"><i class="isax isax-edit"></i>
                                        <span>Edit</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="candidate-descriptions">
                                    <h5 class="mb-2">Candidate Information</h5>
                                    <div class="cardinfo">
                                        <div class="row">
                                            <div class="col-md-4 mt-2">
                                                <label class="cad-infolabel">Name</label>
                                                <span class="c-detsls" id="candidate-fullname" >Virat Kohli</span>
                                            </div>
                                            <div class="col-md-4 mt-2">
                                                <label class="cad-infolabel">Phone</label>
                                                <span class="c-detsls" id="phone" >+1 (903) 392-9285</span>
                                            </div>
                                            <div class="col-md-4 mt-2">
                                                <label class="cad-infolabel">E-Mail</label>
                                                <span class="c-detsls" id="email" >virat.kohli@gmail.com</span>
                                            </div>
                                            <div class="col-md-4 mt-2">
                                                <label class="cad-infolabel">Address</label>
                                                <span class="c-detsls" id="address" >
                                                    12, Avenenue park, Jersey city, New York, USA
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="candidate-resume mt-4">
                                        <h5 class="mb-2">Candidate Resume</h5>
                                        <div class="resume-conntents">
                                            <div id="resume" >
                                                Stephen Farrell <br/>
                                                Mandeville, LA  70448 <br/>
                                                stevefarrell5683@yahoo.com <br/>
                                                (504) 265-2297 <br/>
                                                Authorized to work in the US for any employer
                                                Work Experience <br/>
                                                Instrument & Control Technician <br/>
                                                MMR ProCom  - Houston, TX <br/>
                                                August 2020 to Present <br/>
                                                Assigned to the nitro-celluloses expansion project, Radford Army Ammunition Plant. 
                                                Responsibilities included LOOP verification, commissioning and the start-up of a new 
                                                Nitro-Celluloses plant for the US Army. This included testing and calibration for all SSI, process
                                                control devices and verification of the cause and effect safety devices. The specific instruments were
                                                Endress+Hauser and Rosemount. The communication protocol was Siemens Profi Buss. The DCS was
                                                Honeywell. <br/>
                                                Instrument and Electrical Technician <br/>
                                                Logic Control Systems  - Lafayette, LA
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</div>

<div class="modal" id="openFilter">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Search Filter</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <p>Please fill out only those fields that are needed to refine your search.Not all fields are required</p>
          <div class="form-group">
             <input type="text" class="form-control" placeholder="Enter Search Name to Save this Search and Future Use" />
          </div>
          <div class="form-group">
             <input type="text" class="form-control" placeholder="Enter Skills To Filter Records Comma Separated (',')" />
          </div>
          <div class="form-group">
             <input type="text" class="form-control" placeholder="Enter Skills that you want to exclude Comma Separated (',')" />
          </div>
          <div class="form-group">
             <input type="text" class="form-control" placeholder="Enter City Name  Comma Separated (',')" />
          </div>
          <div class="form-group">
             <input type="text" class="form-control" placeholder="Comming Soon...." />
          </div>
          <div class="form-group">
             <input type="text" class="form-control" placeholder="Comming Soon...." />
          </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer text-center">
          <button type="button" class="btn btn-primary waves-effect mx-auto" data-dismiss="modal">Search</button>
        </div>
  
      </div>
    </div>
  </div>


</div>


{% endblock %}

{% block script %}

<script>


  $(document).ready(function () {
      getCandidates()
  } )

  function getCandidates() 
  {
      var url = "{% url 'candidate-listCreateAPI-View'  %}";
   
      $.ajax({
        url: url,
        type: "GET",
        dataType: "json",
        success: function (data) {

          createCandidateList(data)
          

          $("#candidate-name").html("Hello World");
          $("#email").html("Hello World");
          
        },
        error: function (error) {
          console.log(`Error ${error}`);
        },
      });
  }


  function createCandidateList(candidates){

    item = `<ul>` ;
    
    for (var i in candidates){

      row = candidates[i];
      item +=
            `<li>` +
                `<a>` +
                   `<div class="candidate-info"  onclick='' >`+                             
                      `<h4> <p id="demo"></p> ${row.first_name} </h4> `+                                
                        `<p class="mb-0">`+
                        `<i class="isax isax-setting"></i>`+
                        `<span> ${row.first_name} </span>`+
                        ` </p>`+    
                    `</div>`+    
                  `</a>`+    
              `</li>`;                                              
    }
    item += `</ul>`;
    var wrapper = document.getElementById("candidates-list");
    
    wrapper.innerHTML = item;


  }












</script> 
{% endblock %}









{% comment %} <section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="tableheader">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Search Candidates
          </button>
          
          <div class="container">
            <a
              class="nav-link dropdown-toggle btn btn-outline-dark"
              href="#"
              id="navbarDropdown2"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Power Search
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for search in powerSearch %}
              <li class='mt-2' >
                <button class="btn btn-outline-success"  value={{search.query}}  onclick='newwin(this.value)' >{{search.name|title}}</button> 
              </li>
              {% endfor %}
            </ul>
          </div>

          <a class="btn btn-primary btn-round" href="{%  url 'add-candidate' %}"
            >Add Candidates</a
          >
        </div>

        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col">Skills</th>
              <th scope="col">First name</th>
              <th scope="col">Last name</th>
              <th scope="col">Phone</th>
              <th scope="col">Email</th>
              <th scope="col">City</th>
              <th scope="col">State</th>
              <th scope="col">Country</th>
              <th scope="col actiontd">Action</th>
            </tr>
          </thead>
          <tbody id="table-body">
            {% for condidate in candidates %}
            <tr>
              <th>{{condidate.skill_keywords_full}}</th>
              <td>{{condidate.first_name}}</td>
              <td>{{condidate.last_name}}</td>
              <td>{{condidate.phone}}</td>
              <td>{{condidate.email}}</td>
              <td>{{condidate.city}}</td>
              <td>{{condidate.state}}</td>
              <td>{{condidate.country}}</td>
              
              
              <td class="actiontd">
                <a
                  class="btn btn-outline-success btn-circle btn-sm"
                  href="{% url 'view-candidate' condidate.candidate_id %}"
                  ><i class="fa fa-eye" aria-hidden="true"></i
                ></a>
                <a
                  class="btn btn-outline-info btn-circle btn-sm ml-2"
                  href="{% url 'update-candidate' condidate.candidate_id %}"
                  ><i class="fa fa-edit" aria-hidden="true"></i
                ></a>
              </td>
            </tr>

            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section> {% endcomment %}






