{% extends "v-0.9.1/base/base.html"%} {% load static %} {% block head %}
<script type="text/javascript" src="{% static 'codebase/webix.js' %}"></script>

<script>
      const tableData = async () => {
        
        var url = "{% url 'v-0.9.1/candidate-View' %}"  ; 
        const response = await fetch(url, {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          },
        });
        var data = await response.json();
        data = data.data
        for (let i = 0; i < data.length; i++) {
          if(data[i].status?.name){
            data[i].status = data[i].status.name
          }else{
            data[i].status =""
          }
          
          console.log(data[i].status)
         
        }
        console.log("data",data)
        return data;
      };

</script>


{% endblock %} {% block content %}

<div class="page-wrapper">
  <!-- Container fluid  -->
  <div class="container-fluid">
    <!-- Start Page Content -->
    <div class="pagetitle">
      <h3>Candidates</h3>
    </div>
    <script type="text/javascript" charset="utf-8">
      // Webix Prep
      var url = " {% url 'v-0.9.1/view-candidate' pk='123456' %}";
      var url2 = "{% url 'v-0.9.1/candidate-View' %}";

      webix.ready(function () {
        gridA = webix.ui({
          id: "qbcudpyz",
          container: "webix_datatable",
          select: "row",
          view: "datatable",
          autoheight: true,
          minHeight: 80,
          leftSplit: 4,
          rightSplit: 0,
          columns: [
            {
              header: "Action",
              template:
                "<div class='link'> <a class='viewbtn' type='button'>View</a> </div>",
              width: 50,
            },
            {
              id: "year",
              header: {
                text: "Year",
                autoheight: true,
                //css: "multiline",
                content: "excelFilter",
                mode: "number",
              },
              cssFormat: "",
              sort: "string",
              width: 60,
              hidden: 0,
            },
            {
              id: "ww",
              header: {
                text: "WW",
                autoheight: true,
                //css: "multiline",
                content: "excelFilter",
                mode: "number",
              },
              cssFormat: "",
              sort: "string",
              width: 60,
              hidden: 0,
            },
            {
              id: "first_name",
              header: {
                text: "First Name",
                autoheight: true,
                //css: "multiline",
                content: "excelFilter",
                mode: "text",
              },
              cssFormat: "",
              sort: "string",
              width: 100,
              hidden: 0,
            },
            {
              id: "last_name",
              header: {
                text: "Last Name",
                autoheight: true,
                content: "excelFilter",
                css: "multiline",
                mode: "text",
              },
              cssFormat: "",
              sort: "string",
              width: 100,
              hidden: 0,
            },
            {
              id: "plateformOrReferral",
              header: {
                text: "plateform/Referral",
                autoheight: true,
                content: "excelFilter",
                css: "multiline",
                mode: "text",
              },
              cssFormat: "",
              sort: "string",
              width: 157,
              hidden: 0,
            },
            {
              id: "positionOrPerson",
              header: {
                text: "Position/Person",
                autoheight: true,
                content: "excelFilter",
                css: "multiline",
                mode: "text",
              },
              cssFormat: "",
              sort: "string",
              width: 142,
              hidden: 0,
            },
            {
              id: "refferedBy",
              header: {
                text: "Reffered By",
                autoheight: true,
                content: "excelFilter",
                css: "multiline",
                mode: "text",
              },
              cssFormat: "",
              sort: "string",
              width: 110,
              hidden: 0,
            },
            {
              id: "skillLevel",
              header: {
                text: "Skill Level",
                autoheight: true,
                content: "excelFilter",
                css: "multiline",
                mode: "text",
              },
              cssFormat: "",
              sort: "string",
              width: 100,
              hidden: 0,
            },
            {
              id: "specialitySkillSet",
              header: {
                text: "Speciality Skill Set",
                autoheight: true,
                content: "excelFilter",
                css: "multiline",
                mode: "text",
              },
              cssFormat: "",
              sort: "string",
              width: 100,
              hidden: 0,
            },
            {
              id: "semi",
              header: {
                text: "Semi",
                autoheight: true,
                content: "excelFilter",
                css: "multiline",
                mode: "text",
              },
              cssFormat: "",
              sort: "string",
              width: 100,
              hidden: 0,
            },
            {
              id: "intel",
              header: {
                text: "Intel",
                autoheight: true,
                content: "excelFilter",
                css: "multiline",
                mode: "text",
              },
              cssFormat: "",
              sort: "string",
              width: 100,
              hidden: 0,
            },
            {
              id: "project1",
              header: {
                text: "Project 1",
                autoheight: true,
                content: "excelFilter",
                css: "multiline",
                mode: "text",
              },
              cssFormat: "",
              sort: "string",
              width: 100,
              hidden: 0,
            },
            {
              id: "project2",
              header: {
                text: "Project 2",
                autoheight: true,
                content: "excelFilter",
                css: "multiline",
                mode: "text",
              },
              cssFormat: "",
              sort: "string",
              width: 100,
              hidden: 0,
            },
            {
              id: "project3",
              header: {
                text: "Project 3",
                autoheight: true,
                content: "excelFilter",
                css: "multiline",
                mode: "text",
              },
              cssFormat: "",
              sort: "string",
              width: 100,
              hidden: 0,
            },
            {
              id: "status",
              header: {
                text: "Status",
                autoheight: true,
                content: "excelFilter",
                css: "multiline",
                mode: "text",
              },
              cssFormat: "",
              sort: "string",
              width: 100,
              hidden: 0,
            },
            {
              id: "priority",
              header: {
                text: "Priority",
                autoheight: true,
                content: "excelFilter",
                css: "multiline",
                mode: "text",
              },
              cssFormat: "",
              sort: "string",
              width: 100,
              hidden: 0,
              template: function (obj) {
                if (obj.status?.name) {
                  return obj.priority.name;
                } else {
                  return " ";
                }
              },
            },
            {
              id: "activity",
              header: {
                text: "Activity",
                autoheight: true,
                content: "excelFilter",
                css: "multiline",
                mode: "text",
              },
              cssFormat: "",
              sort: "string",
              width: 100,
              hidden: 0,
            },
            {
              id: "pay",
              header: {
                text: "$$$$$$$$",
                autoheight: true,
                content: "excelFilter",
                css: "multiline",
                mode: "text",
              },
              cssFormat: "",
              sort: "string",
              width: 100,
              hidden: 0,
            },
            {
              id: "skill_keywords_full",
              header: {
                text: "Skills",
                autoheight: true,
                css: "multiline",
                content: "excelFilter",
                mode: "number",
              },
              cssFormat: "colorByBuildingItemCategory",
              sort: "string",
              width: 150,
              hidden: 0,
            },
            {
              id: "phone",
              header: {
                text: "Phone",
                autoheight: true,
                content: "excelFilter",
                css: "multiline",
                mode: "text",
              },
              cssFormat: "",
              sort: "string",
              width: 100,
              hidden: 0,
            },
            {
              id: "Email",
              header: {
                text: "Email",
                autoheight: true,
                content: "excelFilter",
                css: "multiline",
                mode: "text",
              },
              cssFormat: "",
              sort: "string",
              width: 100,
              hidden: 0,
            },
            {
              id: "city",
              header: {
                text: "City",
                autoheight: true,
                content: "excelFilter",
                css: "multiline",
                mode: "text",
              },
              cssFormat: "",
              sort: "string",
              width: 100,
              hidden: 0,
            },
            {
              id: "state",
              header: {
                text: "State",
                autoheight: true,
                content: "excelFilter",
                css: "multiline",
                mode: "text",
              },
              cssFormat: "",
              sort: "string",
              width: 100,
              hidden: 0,
            },
          ],
          data: tableData(),
          on: {
            onBeforeLoad: function () {
              this.showOverlay("Loading...");
            },
            onAfterLoad: function () {
              if (!this.count()) this.showOverlay("Sorry, there is no data");
              else this.hideOverlay();
            },
          },
          /*url: function () {
            return webix.promise(function (res) {
              setTimeout(function () {
                console.log("url",url)
                console.log("url2",url2)
                console.log("res",res)
                console.log("webix.ajax",webix.ajax)
                res(webix.ajax(url2));
              }, 1000);
            });
          },*/
          onClick: {
            viewbtn: function (e, id, trg) {
              data = this.getItem(id);
              console.log("url",url)
              Url = url.replace("123456", data.candidate_id);
              console.log("Url",Url)
              webix.send(Url, {}, "get");
            },
          },
          /*on: {
            onItemDblClick: function () {
              var row_id = gridA.getSelectedId(true, true);
              act_upon_function(row_id);
            },
          },*/
        });
      });

    function colorByBuildingItemCategory(value, config) {
        switch (config.building_item_category_color) {
          case "cm_c00000":
            return { color: "white", "background-color": "#c00000" };
            break;

          case "cm_404040":
            return { color: "black", "background-color": "#404040" };
            break;

          case "cm_00B0F0":
            return { color: "black", "background-color": "#00B0F0" };
            break;

          case "cm_ff6666":
            return { color: "black", "background-color": "#ff6666" };
            break;

          case "cm_66ff33":
            return { color: "black", "background-color": "#66ff33" };
            break;

          case "cm_ccffcc":
            return { color: "black", "background-color": "#ccffcc" };
            break;

          case "cm_99ffff":
            return { color: "black", "background-color": "#99ffff" };
            break;

          case "cm_000066":
            return { color: "white", "background-color": "#000066" };
            break;

          case "cm_000099":
            return { color: "white", "background-color": "#000099" };
            break;

          case "cm_006699":
            return { color: "white", "background-color": "#006699" };
            break;

          case "cm_0066cc":
            return { color: "white", "background-color": "#0066cc" };
            break;

          case "cm_0066ff":
            return { color: "white", "background-color": "#0066ff" };
            break;

          case "cm_0099cc":
            return { color: "white", "background-color": "#0099cc" };
            break;

          case "cm_6699ff":
            return { color: "black", "background-color": "#6699ff" };
            break;

          case "cm_99ccff":
            return { color: "black", "background-color": "#99ccff" };
            break;

          case "cm_66ccff":
            return { color: "black", "background-color": "#66ccff" };
            break;

          case "cm_00ffff":
            return { color: "black", "background-color": "#00ffff" };
            break;

          case "cm_00ff99":
            return { color: "black", "background-color": "#00ff99" };
            break;

          case "cm_99ffcc":
            return { color: "black", "background-color": "#99ffcc" };
            break;

          case "cm_00ff00":
            return { color: "black", "background-color": "#00ff00" };
            break;

          case "cm_33cc33":
            return { color: "black", "background-color": "#33cc33" };
            break;

          case "cm_99ff66":
            return { color: "black", "background-color": "#99ff66" };
            break;

          case "cm_99cc00":
            return { color: "black", "background-color": "#99cc00" };
            break;

          case "cm_336600":
            return { color: "white", "background-color": "#336600" };
            break;

          case "cm_006600":
            return { color: "white", "background-color": "#006600" };
            break;

          case "cm_339933":
            return { color: "white", "background-color": "#339933" };
            break;

          case "cm_006666":
            return { color: "white", "background-color": "#006666" };
            break;

          case "cm_669999":
            return { color: "white", "background-color": "#669999" };
            break;

          case "cm_003300":
            return { color: "white", "background-color": "#003300" };
            break;

          case "cm_333300":
            return { color: "white", "background-color": "#333300" };
            break;

          case "cm_666633":
            return { color: "white", "background-color": "#666633" };
            break;

          case "cm_999966":
            return { color: "black", "background-color": "#999966" };
            break;

          case "cm_000000":
            return { color: "white", "background-color": "#000000" };
            break;

          case "cm_333333":
            return { color: "white", "background-color": "#333333" };
            break;

          case "cm_666666":
            return { color: "white", "background-color": "#666666" };
            break;

          case "cm_b3b3b3":
            return { color: "black", "background-color": "#b3b3b3" };
            break;

          case "cm_d9d9d9":
            return { color: "black", "background-color": "#d9d9d9" };
            break;

          case "cm_666699":
            return { color: "white", "background-color": "#666699" };
            break;

          case "cm_6600cc":
            return { color: "white", "background-color": "#6600cc" };
            break;

          case "cm_9900cc":
            return { color: "white", "background-color": "#9900cc" };
            break;

          case "cm_660066":
            return { color: "white", "background-color": "#660066" };
            break;

          case "cm_660033":
            return { color: "white", "background-color": "#660033" };
            break;

          case "cm_990033":
            return { color: "white", "background-color": "#990033" };
            break;

          case "cm_993333":
            return { color: "white", "background-color": "#993333" };
            break;

          case "cm_800000":
            return { color: "white", "background-color": "#800000" };
            break;

          case "cm_993300":
            return { color: "white", "background-color": "#993300" };
            break;

          case "cm_cc3300":
            return { color: "white", "background-color": "#cc3300" };
            break;

          case "cm_996600":
            return { color: "white", "background-color": "#996600" };
            break;

          case "cm_663300":
            return { color: "white", "background-color": "#663300" };
            break;

          case "cm_cc9900":
            return { color: "black", "background-color": "#cc9900" };
            break;

          case "cm_ffff00":
            return { color: "black", "background-color": "#ffff00" };
            break;

          case "cm_ffc000":
            return { color: "black", "background-color": "#ffc000" };
            break;

          case "cm_9966ff":
            return { color: "black", "background-color": "#9966ff" };
            break;

          case "cm_ff00ff":
            return { color: "black", "background-color": "#ff00ff" };
            break;

          case "cm_ff0066":
            return { color: "white", "background-color": "#ff0066" };
            break;

          case "cm_ff9966":
            return { color: "black", "background-color": "#ff9966" };
            break;

          case "cm_ff0000":
            return { color: "white", "background-color": "#ff0000" };
            break;

          case "cm_DD2F31":
            return { color: "white", "background-color": "#DD2F31" };
            break;
        }
      }
    </script>
    <div id="webix_datatable"></div>
  </div>
</div>

{% endblock %}
