{% extends "v-0.9.1/base/base.html"%} {% load static %} {% block head %}
<script type="text/javascript" src="{% static 'codebase/webix.js' %}"></script>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'codebase/webix.css' %}"
/>

{% endblock %} {% block content %}

<div class="page-wrapper">
  <!-- Container fluid  -->
  <div class="container-fluid">
    <!-- Start Page Content -->
    <div class="pagetitle mb-3 align-items-center justify-content-between">
      <h3 class="mb-0">Priority</h3>
      <a
        href="javascript:void(0)"
        class="btn btn-primary btn-sm waves-effect"
        onclick="add_priority()"
      >
        Add New Priority</a
      >
    </div>

    <script type="text/javascript" charset="utf-8">
      function add_priority() {
        Redirect = " {% url 'v-0.9.1/platform-R-referral-ListCreateAPI-View' %}";
        window.location.href = Redirect;
      }
      // Webix Prep
      var url = " {% url 'v-0.9.1/priority-listCreateAPI-View' %}";
      webix.ready(function () {
        gridA = webix.ui({
          id: "qbcudpyz",
          container: "webix_datatable",
          select: "row",
          view: "datatable",
          columns: [
            {
              id: "name",
              header: {
                text: "Priority",
              },
              sort: "string",
              width: 200,
              hidden: 0,
            },
          ],
          minHeight: 100,
          autoheight: true,
          on: {
            onBeforeLoad: function () {
              this.showOverlay("Loading...");
            },
            onAfterLoad: function () {
              if (!this.count()) this.showOverlay("Sorry, there is no data");
              else this.hideOverlay();
            },
          },
          url: function () {
            return webix.promise(function (res) {
              setTimeout(function () {
                res(webix.ajax(url));
              }, 1000);
            });
          },
        });
      });
    </script>
    <div id="webix_datatable"></div>
  </div>
</div>

{% endblock %}
