{% extends "v-0.9.1/base/base.html"%} {% load static %} {% block head %}
<script type="text/javascript" src="{% static 'codebase/webix.js' %}"></script>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'codebase/webix.css' %}"
/>

{% endblock %} {% block content %}

<div class="page-wrapper">
  <!-- Container fluid  -->
  <div class="container-fluid">
    <!-- Start Page Content -->
    {% comment %} <div class="pagetitle mb-3 align-items-center justify-content-between">
      <h3 class="mb-0">Priority</h3>
      <a
        href="javascript:void(0)"
        class="btn btn-primary btn-sm waves-effect"
        onclick="add_priority()"
      >
        Add New Priority</a
      >
    </div> {% endcomment %}

    <script type="text/javascript" charset="utf-8">
      var url = " {% url 'v-0.9.1/priority-listCreateAPI-View' %}";
      var name = "Priority"
      {% include "v-0.9.1/frontend/webix.html" %} 
    </script>
    <div id="webix_datatable"></div>
  </div>
</div>

{% endblock %}
