{% extends "v-0.9.1/base/base.html"%} {% load static %} {% block head %}


{% endblock %} {% block content %}

<div class="page-wrapper">
  <!-- Container fluid  -->
  <div class="container-fluid">
    <!-- Start Page Content -->
    <div class="pagetitle mb-3 align-items-center justify-content-between">
      <h3 class="mb-0">Project</h3>
      {% comment %} <a href="javascript:void(0)" class="btn btn-primary btn-sm waves-effect">
        Add New Project</a
      > {% endcomment %}
    </div>
      <script type="text/javascript" charset="utf-8">
        var url = " {% url 'v-0.9.1/project-listCreateAPI-View' %}";
        var name = "Project"
        {% include "v-0.9.1/frontend/webix.html" %} 
      </script>
    <div id="webix_datatable"></div>
  </div>
</div>

{% endblock %}
