
{% extends "v-0.9.1/base/base.html"%} {% load static %} 

{% block head %} 
<script
      type="text/javascript"
      src="{% static 'codebase/webix.js' %}"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'codebase/webix.css' %}"
    />

    <script>
      const tableData = async () => {
        
        var url = " {% url 'v-0.9.1/referral-listCreateAPI-View' %}"  ; 
        const response = await fetch(url, {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          },
        });
        var data = await response.json();
        console.log("data",data)
        return data;
      };

    </script>
{% endblock %}

{% block content %}

<div class="page-wrapper">
  <!-- Container fluid  -->
  <div class="container-fluid">   
  <!-- Start Page Content -->
  <div class="pagetitle mb-3 align-items-center justify-content-between">
    <h3 class="mb-0">Project</h3>
    <a  href="javascript:void(0)" class="btn btn-primary btn-sm waves-effect">
        Add New Project</a>
</div>
    
    <script type="text/javascript" charset="utf-8">
      // Dataset Load
      dataset = [
        {
          id: "290",
          name: "P29",
          building_item_category_name: "Tool",
          building_item_category_color: "cm_b3b3b3",
          ta5: "",
          sl5_name: "",
          sl6_name: "",
          additional_data_type_form_name: "ADF 101",
          sl7_name: "Yes",
          comments: "",
          sl8_name: "",
          sl9_name: "Ben Kraft",
          file_count: "2",
        },
        {
          id: "291",
          name: "P29_112_GB",
          building_item_category_name: "Pipe",
          building_item_category_color: "cm_66ccff",
          ta5: "",
          sl5_name: "Ductwork",
          sl6_name: "SCRA",
          additional_data_type_form_name: "ADF Item Test",
          sl7_name: "Yes",
          comments: "",
          sl8_name: "Ductwork",
          sl9_name: "Scott Jessop",
          file_count: "4",
        },
        {
          id: "292",
          name: "P29_925_CA",
          building_item_category_name: "Pipe",
          building_item_category_color: "cm_66ccff",
          ta5: "",
          sl5_name: "Drain",
          sl6_name: "DOWD",
          additional_data_type_form_name: "ADF 202",
          sl7_name: "Yes",
          comments: "",
          sl8_name: "PT Only",
          sl9_name: "Scott Jessop",
          file_count: "1",
        },
        {
          id: "293",
          name: "P29_510_MA",
          building_item_category_name: "Pipe",
          building_item_category_color: "cm_66ccff",
          ta5: "",
          sl5_name: "Water",
          sl6_name: "NPW",
          additional_data_type_form_name: "ADF 202",
          sl7_name: "Yes",
          comments: "",
          sl8_name: "PT Only",
          sl9_name: "Mark Sheridan",
          file_count: "3",
        },
        {
          id: "294",
          name: "G916",
          building_item_category_name: "Tool",
          building_item_category_color: "cm_b3b3b3",
          ta5: "",
          sl5_name: "",
          sl6_name: "",
          additional_data_type_form_name: "ADF 101",
          sl7_name: "Yes",
          comments: "",
          sl8_name: "",
          sl9_name: "Ben Kraft",
          file_count: "1",
        },
        {
          id: "295",
          name: "G916_101_IR",
          building_item_category_name: "Pipe",
          building_item_category_color: "cm_66ccff",
          ta5: "",
          sl5_name: "Water",
          sl6_name: "UPW",
          additional_data_type_form_name: "ADF 101",
          sl7_name: "Yes",
          comments: "",
          sl8_name: "UPW",
          sl9_name: "Ben Kraft",
          file_count: "3",
        },
        {
          id: "296",
          name: "G916_15_DOR",
          building_item_category_name: "Pipe",
          building_item_category_color: "cm_66ccff",
          ta5: "",
          sl5_name: "Drain",
          sl6_name: "IWD",
          additional_data_type_form_name: "",
          sl7_name: "Yes",
          comments: "",
          sl8_name: "PT Only",
          sl9_name: "Ben Kraft",
          file_count: "1",
        },
        {
          id: "297",
          name: "G916_78_VAN",
          building_item_category_name: "Pipe",
          building_item_category_color: "cm_66ccff",
          ta5: "",
          sl5_name: "Ductwork",
          sl6_name: "GE",
          additional_data_type_form_name: "",
          sl7_name: "Yes",
          comments: "",
          sl8_name: "Ductwork",
          sl9_name: "Ben Kraft",
          file_count: "",
        },
        {
          id: "298",
          name: "J426",
          building_item_category_name: "Tool",
          building_item_category_color: "cm_b3b3b3",
          ta5: "",
          sl5_name: "",
          sl6_name: "",
          additional_data_type_form_name: "",
          sl7_name: "Yes",
          comments: "",
          sl8_name: "",
          sl9_name: "David Jones",
          file_count: "",
        },
        {
          id: "299",
          name: "J426_128_MA",
          building_item_category_name: "Pipe",
          building_item_category_color: "cm_66ccff",
          ta5: "",
          sl5_name: "Bulk Gas",
          sl6_name: "HPN2",
          additional_data_type_form_name: "",
          sl7_name: "Yes",
          comments: "",
          sl8_name: "HP\/LP",
          sl9_name: "David Jones",
          file_count: "2",
        },
        {
          id: "300",
          name: "J426_904_PJ",
          building_item_category_name: "Pipe",
          building_item_category_color: "cm_66ccff",
          ta5: "",
          sl5_name: "Vacuum",
          sl6_name: "PV",
          additional_data_type_form_name: "",
          sl7_name: "Yes",
          comments: "",
          sl8_name: "PT Only",
          sl9_name: "David Jones",
          file_count: "2",
        },
        {
          id: "301",
          name: "J426_321_JE",
          building_item_category_name: "Pipe",
          building_item_category_color: "cm_66ccff",
          ta5: "",
          sl5_name: "Drain",
          sl6_name: "HFWD",
          additional_data_type_form_name: "",
          sl7_name: "Yes",
          comments: "",
          sl8_name: "PT Only",
          sl9_name: "David Jones",
          file_count: "",
        },
        {
          id: "302",
          name: "S706",
          building_item_category_name: "Tool",
          building_item_category_color: "cm_b3b3b3",
          ta5: "",
          sl5_name: "",
          sl6_name: "",
          additional_data_type_form_name: "",
          sl7_name: "",
          comments: "",
          sl8_name: "",
          sl9_name: "Mark Sheridan",
          file_count: "",
        },
        {
          id: "303",
          name: "S706_17_TW",
          building_item_category_name: "Pipe",
          building_item_category_color: "cm_66ccff",
          ta5: "",
          sl5_name: "Drain",
          sl6_name: "IWD",
          additional_data_type_form_name: "ADF Item Test",
          sl7_name: "Yes",
          comments: "",
          sl8_name: "HP\/LP",
          sl9_name: "",
          file_count: "3",
        },
        {
          id: "304",
          name: "S706_28_SC",
          building_item_category_name: "Pipe",
          building_item_category_color: "cm_66ccff",
          ta5: "",
          sl5_name: "Vacuum",
          sl6_name: "BCL3",
          additional_data_type_form_name: "",
          sl7_name: "Yes",
          comments: "",
          sl8_name: "PT Only",
          sl9_name: "",
          file_count: "3",
        },
        {
          id: "305",
          name: "S706_153_MI",
          building_item_category_name: "Pipe",
          building_item_category_color: "cm_66ccff",
          ta5: "",
          sl5_name: "Water",
          sl6_name: "PV",
          additional_data_type_form_name: "",
          sl7_name: "Yes",
          comments: "",
          sl8_name: "UPW",
          sl9_name: "",
          file_count: "",
        },
        {
          id: "306",
          name: "D826",
          building_item_category_name: "Tool",
          building_item_category_color: "cm_b3b3b3",
          ta5: "",
          sl5_name: "",
          sl6_name: "",
          additional_data_type_form_name: "",
          sl7_name: "",
          comments: "",
          sl8_name: "",
          sl9_name: "",
          file_count: "",
        },
        {
          id: "307",
          name: "D826_008_CI",
          building_item_category_name: "Pipe",
          building_item_category_color: "cm_66ccff",
          ta5: "",
          sl5_name: "Bulk Gas",
          sl6_name: "IWD",
          additional_data_type_form_name: "ADF 101",
          sl7_name: "Yes",
          comments: "",
          sl8_name: "HP\/LP",
          sl9_name: "",
          file_count: "3",
        },
        {
          id: "308",
          name: "D826_727_WZ",
          building_item_category_name: "Pipe",
          building_item_category_color: "cm_66ccff",
          ta5: "",
          sl5_name: "Exhaust",
          sl6_name: "SCRA",
          additional_data_type_form_name: "",
          sl7_name: "Yes",
          comments: "",
          sl8_name: "EVAC\/POU\/Vent\/SCRA\/Abate",
          sl9_name: "",
          file_count: "",
        },
        {
          id: "309",
          name: "D826_602_PD",
          building_item_category_name: "Pipe",
          building_item_category_color: "cm_66ccff",
          ta5: "",
          sl5_name: "Water",
          sl6_name: "BCL3",
          additional_data_type_form_name: "",
          sl7_name: "Yes",
          comments: "",
          sl8_name: "UPW",
          sl9_name: "",
          file_count: "2",
        },
        {
          id: "310",
          name: "A409",
          building_item_category_name: "Tool",
          building_item_category_color: "cm_b3b3b3",
          ta5: "",
          sl5_name: "",
          sl6_name: "",
          additional_data_type_form_name: "",
          sl7_name: "",
          comments: "",
          sl8_name: "",
          sl9_name: "Mark Sheridan",
          file_count: "",
        },
        {
          id: "311",
          name: "A409_512_VA",
          building_item_category_name: "Pipe",
          building_item_category_color: "cm_66ccff",
          ta5: "",
          sl5_name: "Bulk Gas",
          sl6_name: "GE",
          additional_data_type_form_name: "ADF 101",
          sl7_name: "Yes",
          comments: "",
          sl8_name: "HP\/LP",
          sl9_name: "",
          file_count: "1",
        },
        {
          id: "312",
          name: "A409_130_AP",
          building_item_category_name: "Pipe",
          building_item_category_color: "cm_66ccff",
          ta5: "",
          sl5_name: "Vacuum",
          sl6_name: "PV",
          additional_data_type_form_name: "",
          sl7_name: "Yes",
          comments: "",
          sl8_name: "PT Only",
          sl9_name: "",
          file_count: "",
        },
        {
          id: "313",
          name: "A409_821_AM",
          building_item_category_name: "Pipe",
          building_item_category_color: "cm_66ccff",
          ta5: "",
          sl5_name: "Water",
          sl6_name: "IWD",
          additional_data_type_form_name: "",
          sl7_name: "Yes",
          comments: "",
          sl8_name: "Ductwork",
          sl9_name: "",
          file_count: "",
        },
        {
          id: "341",
          name: "A409_975_PA",
          building_item_category_name: "Pipe",
          building_item_category_color: "cm_66ccff",
          ta5: "",
          sl5_name: "Water",
          sl6_name: "IWD",
          additional_data_type_form_name: "",
          sl7_name: "Yes",
          comments: "",
          sl8_name: "PT Only",
          sl9_name: "",
          file_count: "",
        },
        {
          id: "342",
          name: "A409_512_VA Orig",
          building_item_category_name: "Pipe",
          building_item_category_color: "cm_66ccff",
          ta5: "",
          sl5_name: "Bulk Gas",
          sl6_name: "GE",
          additional_data_type_form_name: "ADF 101",
          sl7_name: "Yes",
          comments: "",
          sl8_name: "HP\/LP",
          sl9_name: "",
          file_count: "",
        },
        {
          id: "343",
          name: "G916_101_IR",
          building_item_category_name: "Pipe",
          building_item_category_color: "cm_66ccff",
          ta5: "",
          sl5_name: "Water",
          sl6_name: "UPW",
          additional_data_type_form_name: "",
          sl7_name: "Yes",
          comments: "",
          sl8_name: "UPW",
          sl9_name: "Ben Kraft",
          file_count: "",
        },
        {
          id: "382",
          name: "A409_512_VA TEST",
          building_item_category_name: "Pipe",
          building_item_category_color: "cm_66ccff",
          ta5: "",
          sl5_name: "Bulk Gas",
          sl6_name: "GE",
          additional_data_type_form_name: "ADF 101",
          sl7_name: "Yes",
          comments: "",
          sl8_name: "HP\/LP",
          sl9_name: "",
          file_count: "",
        },
      ];

      // Webix Prep
      webix.ready(function () {
        gridA = webix.ui({
          id: "qbcudpyz",
          container: "webix_datatable",
          select: "row",
          view: "datatable",
          columns: [
          {
            id: "",
            header: {
              text: "View",
              autoheight: true,
              css: "multiline",
              mode: "text",
            },
            cssFormat: "",
            sort: "string",
            width: 100,
            hidden: 0,
          },
            
            {
              id: "name",
              header: {
                text: "Project",
                autoheight: true,
                //css: "multiline",
                content: "excelFilter",
                mode: "text",
              },
              cssFormat: "",
              sort: "string",
              width: 200,
              hidden: 0,
            },

          ],
          height: 1600,
          width: 1600,
          data: tableData(),
          /*on: {
            onItemDblClick: function () {
              var row_id = gridA.getSelectedId(true, true);
              act_upon_function(row_id);
            },
          },*/
        });
      });

      function colorByBuildingItemCategory(value, config) {
        switch (config.building_item_category_color) {
          case "cm_c00000":
            return { color: "white", "background-color": "#c00000" };
            break;

          case "cm_404040":
            return { color: "black", "background-color": "#404040" };
            break;

          case "cm_00B0F0":
            return { color: "black", "background-color": "#00B0F0" };
            break;

          case "cm_ff6666":
            return { color: "black", "background-color": "#ff6666" };
            break;

          case "cm_66ff33":
            return { color: "black", "background-color": "#66ff33" };
            break;

          case "cm_ccffcc":
            return { color: "black", "background-color": "#ccffcc" };
            break;

          case "cm_99ffff":
            return { color: "black", "background-color": "#99ffff" };
            break;

          case "cm_000066":
            return { color: "white", "background-color": "#000066" };
            break;

          case "cm_000099":
            return { color: "white", "background-color": "#000099" };
            break;

          case "cm_006699":
            return { color: "white", "background-color": "#006699" };
            break;

          case "cm_0066cc":
            return { color: "white", "background-color": "#0066cc" };
            break;

          case "cm_0066ff":
            return { color: "white", "background-color": "#0066ff" };
            break;

          case "cm_0099cc":
            return { color: "white", "background-color": "#0099cc" };
            break;

          case "cm_6699ff":
            return { color: "black", "background-color": "#6699ff" };
            break;

          case "cm_99ccff":
            return { color: "black", "background-color": "#99ccff" };
            break;

          case "cm_66ccff":
            return { color: "black", "background-color": "#66ccff" };
            break;

          case "cm_00ffff":
            return { color: "black", "background-color": "#00ffff" };
            break;

          case "cm_00ff99":
            return { color: "black", "background-color": "#00ff99" };
            break;

          case "cm_99ffcc":
            return { color: "black", "background-color": "#99ffcc" };
            break;

          case "cm_00ff00":
            return { color: "black", "background-color": "#00ff00" };
            break;

          case "cm_33cc33":
            return { color: "black", "background-color": "#33cc33" };
            break;

          case "cm_99ff66":
            return { color: "black", "background-color": "#99ff66" };
            break;

          case "cm_99cc00":
            return { color: "black", "background-color": "#99cc00" };
            break;

          case "cm_336600":
            return { color: "white", "background-color": "#336600" };
            break;

          case "cm_006600":
            return { color: "white", "background-color": "#006600" };
            break;

          case "cm_339933":
            return { color: "white", "background-color": "#339933" };
            break;

          case "cm_006666":
            return { color: "white", "background-color": "#006666" };
            break;

          case "cm_669999":
            return { color: "white", "background-color": "#669999" };
            break;

          case "cm_003300":
            return { color: "white", "background-color": "#003300" };
            break;

          case "cm_333300":
            return { color: "white", "background-color": "#333300" };
            break;

          case "cm_666633":
            return { color: "white", "background-color": "#666633" };
            break;

          case "cm_999966":
            return { color: "black", "background-color": "#999966" };
            break;

          case "cm_000000":
            return { color: "white", "background-color": "#000000" };
            break;

          case "cm_333333":
            return { color: "white", "background-color": "#333333" };
            break;

          case "cm_666666":
            return { color: "white", "background-color": "#666666" };
            break;

          case "cm_b3b3b3":
            return { color: "black", "background-color": "#b3b3b3" };
            break;

          case "cm_d9d9d9":
            return { color: "black", "background-color": "#d9d9d9" };
            break;

          case "cm_666699":
            return { color: "white", "background-color": "#666699" };
            break;

          case "cm_6600cc":
            return { color: "white", "background-color": "#6600cc" };
            break;

          case "cm_9900cc":
            return { color: "white", "background-color": "#9900cc" };
            break;

          case "cm_660066":
            return { color: "white", "background-color": "#660066" };
            break;

          case "cm_660033":
            return { color: "white", "background-color": "#660033" };
            break;

          case "cm_990033":
            return { color: "white", "background-color": "#990033" };
            break;

          case "cm_993333":
            return { color: "white", "background-color": "#993333" };
            break;

          case "cm_800000":
            return { color: "white", "background-color": "#800000" };
            break;

          case "cm_993300":
            return { color: "white", "background-color": "#993300" };
            break;

          case "cm_cc3300":
            return { color: "white", "background-color": "#cc3300" };
            break;

          case "cm_996600":
            return { color: "white", "background-color": "#996600" };
            break;

          case "cm_663300":
            return { color: "white", "background-color": "#663300" };
            break;

          case "cm_cc9900":
            return { color: "black", "background-color": "#cc9900" };
            break;

          case "cm_ffff00":
            return { color: "black", "background-color": "#ffff00" };
            break;

          case "cm_ffc000":
            return { color: "black", "background-color": "#ffc000" };
            break;

          case "cm_9966ff":
            return { color: "black", "background-color": "#9966ff" };
            break;

          case "cm_ff00ff":
            return { color: "black", "background-color": "#ff00ff" };
            break;

          case "cm_ff0066":
            return { color: "white", "background-color": "#ff0066" };
            break;

          case "cm_ff9966":
            return { color: "black", "background-color": "#ff9966" };
            break;

          case "cm_ff0000":
            return { color: "white", "background-color": "#ff0000" };
            break;

          case "cm_DD2F31":
            return { color: "white", "background-color": "#DD2F31" };
            break;
        }
      }
    </script>
    <div id="webix_datatable"></div>
  </div>
 
</div>

{% endblock %}
