{% extends "v-0.9.1/base/base.html"%} {% load static %} {% block css %} 
{% endblock %} {% load crispy_forms_tags %} {% block content %}

<div class="page-wrapper">
  <div class="container-fluid">
 <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
      Add 
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          
          <div class="modal-body">
             <form>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button">Save</button>
                </div>
              </div>
             </form>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
