{% extends "v-0.9.1/base/base.html"%} {% load static %} {% block css %} {% endblock %}
{% load crispy_forms_tags %} {% block content %}

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <div class="card shadow">
        <div class="card-title text-center border-bottom">
          <h2 class="p-3"></h2>
        </div>
        <div class="card-body">
          <form method="post"  action="" enctype="multipart/form-data" >
            {% csrf_token %} 
            {{ form.first_name|as_crispy_field }} 
            {{form.last_name|as_crispy_field }} 
            {{ form.phone|as_crispy_field }}
            {{ form.email|as_crispy_field }} 
            {{ form.candidateFileNameOriginal|as_crispy_field }} 
            {{ form.city|as_crispy_field }} 
            {{ form.state|as_crispy_field }}
            {{ form.country|as_crispy_field }} 
            {{ form.history|as_crispy_field }} 
            {{ form.active_assignment|as_crispy_field }} 
            {{ form.adder|as_crispy_field }} 
            {{ form.fk_ra_company|as_crispy_field }}
            {{form.fk_ra_project|as_crispy_field }} 
            {{ form.fk_ra_position|as_crispy_field }} 
            {{form.fk_ra_position|as_crispy_field }} 
            {{ form.skill_keywords|as_crispy_field }} 
            {{form.active|as_crispy_field }}

            <div class="d-grid">
             <button type="submit" class="btn btn-outline-dark">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
